@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$lg : 700px;
$sm : 400px;


@mixin fullScreenContainer(){
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


div.fullContainer{    
    @include fullScreenContainer();
    justify-content: space-around;
    
    
    div.label{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap:20px;
        img{
            min-width: 50px ;
            width: 90vw;
            max-width: 200px;
            border-radius: 100%;

        }
    }
    
    div.buttonHolder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding:30px;gap:30px;
        max-width: 500px;
    }
    
    @media (min-width : $lg) {
        flex-direction: row;
        justify-content: space-around;
        div.buttonHolder{
            flex-basis: 40%;
        }
    }
}
